# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Cc]rashReports/

# Вся папка .vs (Visual Studio)
.vs/

# Авто-файлы решений/проектов
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider / VS Code / прочие IDE
.idea/
*.unityproj

# Сборки
*.apk
*.aab
*.unitypackage
Assets/Scripts.zip
Assets/Scripts/Inventory/Item/Icons
Assets/Scripts/Inventory/Item/buttons
Assets/Scripts/Inventory/Item/Fonts
Assets/TextMesh Pro